<div class="container mt-5 prod" align="center">
  <h2>Cursos</h2>

  <input
    [(ngModel)]="searchParam"
    (ngModelChange)="hacerBusqueda()"
    type="text"
    placeholder="Buscador inteligente"
    class="form-control mb-2"
  />

  <table border="1" class="table table-dark text-center">
    <thead>
      <tr>
        <th>Foto</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody *ngIf="courses">
      <tr *ngFor="let uno of courses">
        <td class="image"><img src="{{ uno.image }}" /></td>
        <td>{{ uno.name }}</td>
        <td>{{ uno.description }}</td>
        <td>${{ uno.price }}</td>
        <td>
          <div class="table-actions">
            <button class="btn btn-info" (click)="updateProduct(uno)"><i class="fa fa-pen"></i></button>

            <button class="btn btn-danger" (click)="deleteProduct(uno)"><i class="fa fa-trash"></i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="!courses" class="loading">
    <div class="spinner-border text-primary" role="status"></div>
  </div>
</div>
