img {
    float: left;
    width:  80px;
    height: 80px;
    object-fit: cover;
}

.image {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 60%;
    margin-right: 10px;
}

.loading{
    margin: 30px;
    text-align: center;

    .spinner-border {
        width: 8rem;
        height: 8rem;
    }

}

.table-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;


    button{
        display: grid;
        vertical-align: middle;
        justify-content: center;    
    }
}
