.card{
    border-radius: 18px;
    box-shadow: inset 0 0 0 1px #e0e0e0;
    margin-top: 20px;

    .title{
        font-size: 20px;
        margin: 25px 20px 0px 28px;
    }
}

.form{
    padding: 25px;
    input{
        margin-top: 10px;
    }
}