<div class="container">
  <div class="card">
    <h2 class="title">Agregar productos</h2>

    <form [formGroup]="formGroup" class="form">
      <div class="row">
        <div class="col-6">
          <input type="text" class="form-control" formControlName="name" placeholder="Nombre" />
        </div>

        <div class="col-6">
          <input type="number" class="form-control" formControlName="price" placeholder="Precio" />
        </div>

        <div class="col-12">
          <input type="text" class="form-control" formControlName="description" placeholder="Descripcion" />
        </div>

        <div class="col-12">
          <input type="file" accept="image/*" id="banner-upload" (change)="imagePreview($event)" >
       
          </div>

          <div class="col-12">
            <button class="btn btn-success mt-3 btn-block"(click)="addProduct()"  >Agregar</button>
          </div>

      </div>
    </form>
  </div>
</div>
